<% include partials/header %>

<div class='container'>
<h1><%= campground.name %></h1>
    <div class='row'>
        <div class='col-sm-12'>
            <img src='<%= campground.image %>'>
            <p><%= campground.description %></p>
            <% campground.comments.forEach((comment) => { %>
                <p>
                    <strong> </strong><%= comment.author %>  </strong>
                    - <%= comment.text %>
                </p>
            <% }) %>
        </div>
    </div>
    <a href='/campgrounds' class='btn btn-primary'>Go back</a>
</div>

<% include partials/footer %>
